html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;


body {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.navbar-icon-name {
    color: #ffffff;
    text-transform: uppercase;
}

.navbar-icon-name a {
    transition: color 0.3s;
    text-decoration: none;
    color: inherit;
}

.navbar-icon-name a:hover {
    color: #ff9900;
}

.navbar-menu {
    display: flex;
}

.navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #ff9900;
}

.navbar-lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.navbar-lang a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-lang a:hover {
    color: #ff9900;
}

#home-section {
    display: grid; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 20px; /* Añade algo de espacio interior */
}

.home-section-top {
    align-items: center;
    display: flex;
}

.home-section-full-stack {
    color: #ffffff;
}

.project-link {

}
.project-link a {
    background: linear-gradient(145deg, #6a11cb, #2575fc); /* Gradiente de color */
    border: none; /* Sin borde */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    color: white; /* Color del texto */
    padding: 15px 30px; /* Espaciado interno para un tamaño grande */
    font-size: 18px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.3s ease; /* Transición suave en hover */
}

button a :hover {
    transform: translateY(-3px); /* Eleva el botón cuando se pasa el cursor */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); /* Aumenta la sombra para un efecto más pronunciado */
    background: linear-gradient(145deg, #2575fc, #6a11cb); /* Inversión de colores del gradiente */
}

button a :active {
    transform: translateY(1px); /* Suaviza el efecto de presión */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Reducción de la sombra en el clic */
}


.home-section-bottom .description-home {
    color: #ffffff;
}

.home-section-bottom .home-section-developer {
    color: #ffffff;
}

@media screen and (min-width: 1366px) {
    #navbar {
        margin-top: 1rem;
        margin-right: 3rem;
        margin-left: 3rem;
        width: auto;
    }

    .navbar-icon-name {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .navbar-menu {
        gap: 2rem;
    }

    .navbar-menu a {
        font-size: 0.9rem;
        margin: 0 1rem;
    }

    .navbar-lang {
        font-size: 0.8rem;
    }

    #home-section {
        margin-top: 8rem;
        margin-right: 3rem;
        margin-left: 3rem;
        width: auto;
    }

    .home-section-top {
        display: flex;
    }

    .home-section-full-stack {
        max-width: 70%;
        font-size: 10rem;
        display: flex;
        align-items: flex-end;
    }

    .project-link {
        display: flex;
        min-width: 30%;
        right: 0;
    }

    .home-section-bottom {
        display: flex;
        align-items: center;
    }

    .description-home {
        max-width: 30%;
        flex-direction: row-reverse;
    }

    .home-section-developer {
        max-width: 70%;
        font-size: 10rem;
        flex-direction: row-reverse;
    }
}
}